{% extends "base.html" %}

{% block content %}
<div class="container">
  <br>
  <h4 align="center">Latest Videos From Channels You Love</h4>
  <hr>
  <div class="row text-center" style="display:flex; flex-wrap:wrap;">
    {% for video in results %}
        <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <img src="{{ video['thumbnail'] }}" width="260" height="195">
            <div class="caption">
              <a href="{{ baseaddr ~ video['url'] }}"><h6 align="left">{{ video['title'] }}</h6></a>
              <p align="left">
                <a href="{{ baseaddr ~ video['channelLink'] }}">{{ video['channelName'] }}</a>
                <br>
                <strong>Duration: </strong>{{ video['duration'] }}
                <br>
                <strong>Shared {{ video['date'] }}</strong>
                <br>
                <strong>{{ video['views'] }}</strong>
              </p>
            </div>
          </div>
        </div>
    {% endfor %}
  </div>
</div>
<br>
{% endblock %}
